.h1 {
    color: white;
    text-align: center;
    background-color: red;
    padding: 8px;
    border: 3px solid black;
    font-family: sans-serif;
}
body {
    background-color: #363636;
}
.table {
    height: 880px;
    text-align: center;
    margin: 0 auto;
}
td {
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}
h3 {
    text-align: center;
}
.backbutton {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: left;
    width: 200;
    height: 50;
    padding: 10px;
    border: 1px solid black;
}
.obrazkiopisy {
    background-color: blue;
    padding: 5px;
    text-align: center;
}